[Desktop Entry]
Encoding=UTF-8
Name=Link to https://www.tripadvisor.in/PricefinderPopunder
Type=Link
URL=https://www.tripadvisor.in/PricefinderPopunder
Icon=text-html
